.adminContainer {
    border-radius: 10px;
    background-color: #FFFFFF;

    img {
        margin-left: 20px;
        transition: .3s;
    }
    img:hover {
        margin-left: 10px;
        transition: .3s;
    }

    .AdminWrapper {
        text-align: center;
        border-radius: 10px;
        position: relative;

        img {
            margin: 40px 0;
        }

        .buttonBlock {
            display: flex;
            justify-content: center;
            padding-bottom: 40px;

            button {
                background-color: #0db3df;
                color: #FFFFFF;
                padding: 10px;
                border-radius: 10px;
                font-size: 20px;
                font-weight: 600;
                cursor: pointer;
                border: 2px solid #FFF;
                margin-left: 50px;
                transition: 0.3s;
            }

            button:hover {
                background-color: #FFFFFF;
                border: 2px solid #0db3df;
                color: #0db3df;
                transition: 0.3s;
            }
        }

        .statisticBlock {
            display: flex;
            justify-content: center;

            ul {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;

                li {
                    padding: 15px;
                    margin-left: 10px;
                    font-size: 18px;
                    font-weight: 500;
                }

                li:not(:first-child) {
                    border-left: 2px solid #0db3df;
                }
            }
        }

    }
}