main {
    background-color: #FFFFFF;
    border-radius: 0 20px 20px 0;
}

.wrapperShop {
    display: grid;
    grid-template-areas:
        'menu content'
        'footer footer';
    grid-template-columns: 300px 1fr;
}

.sidebar {
    grid-area: menu;
    background-color: rgb(24, 24, 24);
    border-radius: 20px 0 0 20px;
    

    .sidebarItem {
        margin: 20px 0;
        color: rgb(193, 190, 190);
        transition: .2s ease-in;
        cursor: pointer;
    }
    .sidebarItemActive {
        margin-top: 20px;
        color: #FFFFFF;
        transform: scale(1.1, 1.2);
        transition: .2s;
        cursor: default;
        padding-bottom: 5px;
        border-bottom: 2px solid rgb(134 100 60 / 80%);
    }
}

.productMain {
    margin-top: 20px;
    grid-area: content;

    .pagination {
        display: flex;
        justify-content: start;
        margin: 20px 0;

        .pageItem {
            padding: 15px;
            margin-left: 10px;
            font-size: 18px;
            font-weight: 500;
            border: 1px solid #3e8fcf;
            border-radius: 10px;
            cursor: pointer;
            transition: .3s;
        }
        .pageItem:hover {
            background-color: #336c98;
            transition: .3s;
        }
        .pageItemActive {
            background-color: #336c98;
            color: #FFFFFF;
            transition: .3s;
            
        }
    }
}

.brands {
    display: flex;

    .brandsItem {
        margin-right: 10px;
        padding: 12px;
    }

    .brandsItemActive {
        margin-right: 10px;
        padding: 10px;
        border: 2px solid rgb(134 100 60 / 80%);
        border-radius: 10px;
    }
}

.productsItem {
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin-bottom: 40px;
    text-align: center;
}

.products {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}