footer {
    margin-top: 20px;

    .logoTitle {
        text-align: center;
        padding-top: 20px;

        h2, p {
            color: #FFFFFF;
        }
        h2 {
            font-size: 30px;
        }

        img {
            width: 270px;
            margin-bottom: 10px;
        }
    }
    .social {
        display: flex;
        justify-content: center;
        padding: 20px 0;

        ul {
            display: flex;
            align-items: center;
        }
        a {
            color: #FFFFFF;
            margin-right: 10px;

            img {
                width: 80px;
            }
        }
        a:hover {
            transform: scale(1.1, 1.1);
        }
    }
}