footer {
    background-color: #000;
    margin-top: 30px;

    .logoTitle {
        text-align: center;
        padding-top: 20px;

        h2, p {
            color: #FFFFFF;
        }
        h2 {
            font-size: 30px;
        }
    }
    .social {
        display: flex;
        justify-content: center;
        padding: 20px 0;

        ul {
            display: flex;
        }
        li {
            color: #FFFFFF;
            margin-right: 10px;
        }
    }
}