header {
    grid-area: header;
    margin-bottom: 30px;

    .headerWrapper {
        display: flex;
        justify-content: space-between;
        padding: 20px;

        .headerLeft {
            display: flex;
            align-items: center;

            img {
                width: 180px;
            }


            .headerTitle {
                margin-left: 10px;
                border-left: 2px solid #FFFFFF;
                padding-left: 10px;

                h1 {
                    color: #FFFFFF;
                    font-size: 30px;
                    font-weight: 700;
                }

                h3 {
                    color: #FFFFFF;
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }

        .headerRight {
            button {
                position: relative;
                background: #FFFFFF;
                margin-right: 20px;
                color: #254c55;
                padding: 5px;
                border-radius: 10px;
                font-weight: 700;
                font-size: 20px;
                box-shadow: 0px 10px 15px rgb(73 155 165);
                border: 1px solid #FFFFFF;
                cursor: pointer;
                transition: .3s;
            }
            button:hover {
                color: #FFFFFF;
                background: none;
                transition: .3s;
            }

            .quantityCart {
                position: absolute;
                margin: 0 auto;
                background-image: url('../../../public/images/sidebarBg.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                color: #000;
                border: 1px solid #FFFFFF;
                border-radius: 80px;
                padding: 8px;
                top: -30px;
                left: 60px;
            }
        }
    }
}