.wrapperCart {
    background-color: #FFFFFF;
    border-radius: 10px;

    .btnBack {
        margin-left: 20px;
        transition: .3s;
    }

    .btnBack:hover {
        margin-left: 10px;
        transition: .3s;
    }

    .cartBlock {
        text-align: center;

        h2 {
            font-size: 30px;
            font-weight: 700;
            color: #254c55;
            margin-bottom: 20px;
        }

        .cartNull {
            width: 300px;
        }

        p {
            font-size: 20px;
            font-weight: 500;
            color: #254c55;
            padding: 20px 0;
        }
    }
}