.wrapperCart {
    background-color: #FFFFFF;
    border-radius: 10px;
    flex-direction: column;

    .btnBack {
        margin-left: 20px;
        transition: .3s;
    }

    .btnBack:hover {
        margin-left: 10px;
        transition: .3s;
    }

    .cartTop {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .clearCart {
            margin-right: 20px;
        }

        .totalPrice {
            font-size: 25px;
            color: #254c55;
            font-weight: 700;
            margin-left: 20px;
        }
    }

    button {
        background-color: #FFF;
        color: #254c55;
        padding: 10px;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        border: 2px solid #0db3df;
        transition: .3s;
        margin: 20px 0;
    }

    button:hover {
        background-color: #FFFFFF;
        border: 2px solid #0db3df;
        color: #0db3df;
        transition: .3s;
    }

    button:active {
        background-color: #0db3df;
        color: #FFFFFF;
        transition: .3s;
    }

    .cartBlock {
        text-align: center;

        .products {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            align-items: center;

            .device {
                min-width: 150px;
                border: 1px solid #FFF;
                cursor: pointer;
                text-align: center;
                margin: 0 15px 0 10px;
                color: #254c55;
                transition: .3s;

                .btnDelete {
                    padding: 5px;
                    font-weight: 700;
                    font-size: 20px;
                }

                .btnDelete:hover {
                    color: red;
                }

                .btnDeleteUser {
                    padding: 5px;
                    font-weight: 700;
                    font-size: 20px;
                }

                .btnDeleteUser:hover {
                    color: red;
                }

                .deviceItemBottom {
                    align-items: center;
                    padding: 5px;

                    .deviceContent {
                        display: flex;
                        flex-direction: column-reverse;
                    }

                    img {
                        margin-bottom: 10px;
                    }

                    h3 {
                        font-weight: 600;
                        font-size: 18px;
                    }

                    p {
                        font-weight: 500;
                    }

                    button {
                        display: none;
                    }

                    .countDevice {
                        display: flex;
                        align-items: center;
    
                        input {
                            border: 1px solid #000;
                            border-radius: 5px;
                            max-width: 80px;
                            font-size: 20px;
                            font-weight: 600;
                            padding: 5px;
                            margin: 0 10px;
                        }
    
                        .plusCount {
                            width: 40px;
                        }
                    }
                }

                
            }

            .device:hover {
                box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.08);
                border: 1px solid silver;
                transform: translateY(-5px);
                transition: .3s;
                border-radius: 10px;
            }
        }


        h2 {
            font-size: 30px;
            font-weight: 700;
            color: #254c55;
            margin-bottom: 20px;
        }

        .cartNull {
            width: 300px;
        }

        p {
            font-size: 20px;
            font-weight: 500;
            color: #254c55;
            padding: 20px 0;
        }
    }
}